<!DOCTYPE html>
<html>
<head>
<style>
body{font-family:Segoe UI;color:#000;margin:0}
.container{padding:30px}
.name{font-size:28px;font-weight:900}
.contact{font-size:14px}
.section{font-weight:900;border-bottom:1px solid #000;margin-top:10px}
</style>
</head>

<body>
<div class="container">

<div class="name">{{name}}</div>
<div class="contact">{{contact}}</div>

<div class="section">Summary</div>
<p>{{summary}}</p>

<div class="section">Experience</div>
{{experience}}

<div class="section">Skills</div>
<p>{{skills}}</p>

</div>
</body>
</html>
